{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Formulaire"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/form.css"), source("styles/global.css")) %}
	<div class="form_container">
		<h1 class="form_title">Ajouter un film</h1>
		{{form(form)}}
		</div>
		{% endapply %}
	{% endblock %}
