.salle_container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.salle_card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.status {
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    color: white;
}

.salle_card.disable {
    background: grey;
}

.open {
    background: green;
}

.close {
    background: red;
    width: 100%;
}

a {
    cursor: pointer;
}