.film_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title_container{
display: flex;
flex-direction: column;
justify-content: center;
}

.film_ul{
    display: flex;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50%;
    width: 55%;
    padding: 10px;
    margin: 10px;
}

.film_li {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: blue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    width: 100%;
}

.film_title {
    margin: 10px;
}

.film_title a {
    margin: 10px;
    color: #1A2980;
}

.film_select{
    display: flex;
    justify-content: center;
}

.button_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.delete {
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: black;
    background: white;
    border: 1px solid red;
}

.delete > a {
    color: black;
}

.update {
    background: #795805;
}

.oneFilm {
    background: #795805;
}

.film_gender {
    width: 100%;
    color: white;
    border-radius: 15px;
}

.film_gender.Horreur {
    background: lightcoral;
}

.film_gender.Action {
    background: lightblue;
}

.film_gender.Comédie {
    background: lightgreen;
}

.create_button {
    width: 200px;
    height: 30px;
    margin: 5px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);   
}