.film_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.film_ul{
    display: flex;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50%;
    width: 55%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.film_li {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: blue;
    border: 1px solid red;
    width: 100%;
}

.Horreur {
    width: 20%;
    color: white;
    border-radius: 15px;
    background: lightcoral;
}

.Action {
    width: 20%;
    color: white;
    border-radius: 15px;
    background: lightblue;
}

.create_button {
    width: 200px;
    margin: 5px;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);   
}