.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
}

.navBar_container {
    display: flex;
    justify-content: center;
    width: 20%;
}

.navBar_ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}

.navBar_li {
    display: flex;
    align-items: center;
}
