{% apply inline_css(source("styles/navBar.css"), source("styles/global.css")) %}
<div class="navBar">
	<nav class="navBar_container">
		<ul class="navBar_ul">
			<li class="navBar_li">
				<a href="/">Acceuil</a>
			</li>
			<li class="navBar_li">
				<a href="/readFilm">Films</a>
			</li>
		</ul>
	</nav>
</div>
{% endapply %}
