{% apply inline_css(source("styles/navBar.css"), source("styles/global.css")) %}
<div class="navBar">
	<nav class="navBar_container">
		<ul class="navBar_ul">
			<li class="navBar_li">
				<a href="{{ path("accueil") }}">Acceuil</a>
			</li>
			<li class="navBar_li">
				<a href="{{ path("seance_index") }}">Liste des séances</a>
			</li>
			<li class="navBar_li">
				<a href="{{ path("read_film") }}">Films</a>
			</li>
			<li class="navBar_li">
				<a href="{{ path("salle_new") }}">Ajouter un salle</a>
			</li>
		</ul>
	</nav>
</div>
{% endapply %}
